/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REMOVE ALL WHITE SPACE */
html, body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #141414;
  overflow-x: hidden; /* ✅ remove right scroll */
}

/* ROOT */
#root {
  width: 100%;
  min-height: 100vh;
  background-color: #141414;
  overflow-x: hidden;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

nav a:hover {
  color: #e50914; /* Netflix red */
}

body {
  margin: 0;
}



/* =========================================== */

